:root {
    --primary-text-color: rgb(36, 28, 21);
    --secondary-text-color: rgb(255, 255, 255);
    --background-color-light-gray: rgb(245, 245, 245);
    --background-color-orange: rgb(215, 150, 55);
    --background-color-yellow: rgb(230, 185, 95);
    --background-color-beige: rgb(235, 225, 205);
    --background-color-light-dark: rgb(35, 30, 21);
    --cta-background-color: #ffe01b;

}